<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.AppFooterNavMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.AppFooterNav" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="index_begin" property="indexBegin" jdbcType="VARCHAR" />
    <result column="index_after" property="indexAfter" jdbcType="VARCHAR" />
    <result column="category_begin" property="categoryBegin" jdbcType="VARCHAR" />
    <result column="category_after" property="categoryAfter" jdbcType="VARCHAR" />
    <result column="shopcar_begin" property="shopcarBegin" jdbcType="VARCHAR" />
    <result column="shopcar_after" property="shopcarAfter" jdbcType="VARCHAR" />
    <result column="myinfo_begin" property="myinfoBegin" jdbcType="VARCHAR" />
    <result column="myinfo_after" property="myinfoAfter" jdbcType="VARCHAR" />
    <result column="textcolor_begin" property="textcolorBegin" jdbcType="VARCHAR" />
    <result column="textcolor_after" property="textcolorAfter" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="audit_user" property="auditUser" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="activity_type" property="activityType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, description, create_time, begin_time, end_time, stop_time, status, index_begin, 
    index_after, category_begin, category_after, shopcar_begin, shopcar_after, myinfo_begin, 
    myinfo_after, textcolor_begin, textcolor_after, audit_status, audit_user, audit_time, 
    activity_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_app_footer_nav
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_app_footer_nav
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.AppFooterNav" >
    insert into b2c_app_footer_nav (id, title, description, 
      create_time, begin_time, end_time, 
      stop_time, status, index_begin, 
      index_after, category_begin, category_after, 
      shopcar_begin, shopcar_after, myinfo_begin, 
      myinfo_after, textcolor_begin, textcolor_after, 
      audit_status, audit_user, audit_time, 
      activity_type)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{stopTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{indexBegin,jdbcType=VARCHAR}, 
      #{indexAfter,jdbcType=VARCHAR}, #{categoryBegin,jdbcType=VARCHAR}, #{categoryAfter,jdbcType=VARCHAR}, 
      #{shopcarBegin,jdbcType=VARCHAR}, #{shopcarAfter,jdbcType=VARCHAR}, #{myinfoBegin,jdbcType=VARCHAR}, 
      #{myinfoAfter,jdbcType=VARCHAR}, #{textcolorBegin,jdbcType=VARCHAR}, #{textcolorAfter,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=VARCHAR}, #{auditUser,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{activityType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.AppFooterNav" >
    insert into b2c_app_footer_nav
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="indexBegin != null" >
        index_begin,
      </if>
      <if test="indexAfter != null" >
        index_after,
      </if>
      <if test="categoryBegin != null" >
        category_begin,
      </if>
      <if test="categoryAfter != null" >
        category_after,
      </if>
      <if test="shopcarBegin != null" >
        shopcar_begin,
      </if>
      <if test="shopcarAfter != null" >
        shopcar_after,
      </if>
      <if test="myinfoBegin != null" >
        myinfo_begin,
      </if>
      <if test="myinfoAfter != null" >
        myinfo_after,
      </if>
      <if test="textcolorBegin != null" >
        textcolor_begin,
      </if>
      <if test="textcolorAfter != null" >
        textcolor_after,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditUser != null" >
        audit_user,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="indexBegin != null" >
        #{indexBegin,jdbcType=VARCHAR},
      </if>
      <if test="indexAfter != null" >
        #{indexAfter,jdbcType=VARCHAR},
      </if>
      <if test="categoryBegin != null" >
        #{categoryBegin,jdbcType=VARCHAR},
      </if>
      <if test="categoryAfter != null" >
        #{categoryAfter,jdbcType=VARCHAR},
      </if>
      <if test="shopcarBegin != null" >
        #{shopcarBegin,jdbcType=VARCHAR},
      </if>
      <if test="shopcarAfter != null" >
        #{shopcarAfter,jdbcType=VARCHAR},
      </if>
      <if test="myinfoBegin != null" >
        #{myinfoBegin,jdbcType=VARCHAR},
      </if>
      <if test="myinfoAfter != null" >
        #{myinfoAfter,jdbcType=VARCHAR},
      </if>
      <if test="textcolorBegin != null" >
        #{textcolorBegin,jdbcType=VARCHAR},
      </if>
      <if test="textcolorAfter != null" >
        #{textcolorAfter,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.AppFooterNav" >
    update b2c_app_footer_nav
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="indexBegin != null" >
        index_begin = #{indexBegin,jdbcType=VARCHAR},
      </if>
      <if test="indexAfter != null" >
        index_after = #{indexAfter,jdbcType=VARCHAR},
      </if>
      <if test="categoryBegin != null" >
        category_begin = #{categoryBegin,jdbcType=VARCHAR},
      </if>
      <if test="categoryAfter != null" >
        category_after = #{categoryAfter,jdbcType=VARCHAR},
      </if>
      <if test="shopcarBegin != null" >
        shopcar_begin = #{shopcarBegin,jdbcType=VARCHAR},
      </if>
      <if test="shopcarAfter != null" >
        shopcar_after = #{shopcarAfter,jdbcType=VARCHAR},
      </if>
      <if test="myinfoBegin != null" >
        myinfo_begin = #{myinfoBegin,jdbcType=VARCHAR},
      </if>
      <if test="myinfoAfter != null" >
        myinfo_after = #{myinfoAfter,jdbcType=VARCHAR},
      </if>
      <if test="textcolorBegin != null" >
        textcolor_begin = #{textcolorBegin,jdbcType=VARCHAR},
      </if>
      <if test="textcolorAfter != null" >
        textcolor_after = #{textcolorAfter,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        audit_user = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.AppFooterNav" >
    update b2c_app_footer_nav
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      index_begin = #{indexBegin,jdbcType=VARCHAR},
      index_after = #{indexAfter,jdbcType=VARCHAR},
      category_begin = #{categoryBegin,jdbcType=VARCHAR},
      category_after = #{categoryAfter,jdbcType=VARCHAR},
      shopcar_begin = #{shopcarBegin,jdbcType=VARCHAR},
      shopcar_after = #{shopcarAfter,jdbcType=VARCHAR},
      myinfo_begin = #{myinfoBegin,jdbcType=VARCHAR},
      myinfo_after = #{myinfoAfter,jdbcType=VARCHAR},
      textcolor_begin = #{textcolorBegin,jdbcType=VARCHAR},
      textcolor_after = #{textcolorAfter,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      audit_user = #{auditUser,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      activity_type = #{activityType,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>