<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.AreaCodeMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.AreaCode" >
    <result column="code_Id" property="codeId" jdbcType="VARCHAR" />
    <result column="code_Name" property="codeName" jdbcType="VARCHAR" />
    <result column="address_Id" property="addressId" jdbcType="VARCHAR" />
    <result column="address_Name" property="addressName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    code_id, code_name, address_id, address_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from b2c_areacode
    where code_id = #{codeId,jdbcType=VARCHAR}
  </select>
</mapper>