<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.CouponRecordMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.CouponRecord" >
    <id column="COUPON_ID" property="couponId" jdbcType="VARCHAR" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="CHAR" />
    <result column="COUPON_AMOUNT" property="couponAmount" jdbcType="DECIMAL" />
    <result column="DENOMINATION_AMOUNT" property="denominationAmount" jdbcType="DECIMAL" />
    <result column="COUPON_GEN_TIME" property="couponGenTime" jdbcType="TIMESTAMP" />
    <result column="COUPON_EXPIRE_DATE" property="couponExpireDate" jdbcType="TIMESTAMP" />
    <result column="ACCEPTED_STATUS" property="acceptedStatus" jdbcType="CHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR" />
    <result column="COUPON_STATUS" property="couponStatus" jdbcType="CHAR" />
    <result column="COUPON_USED_AMOUNT" property="couponUsedAmount" jdbcType="DECIMAL" />
    <result column="ACCEPTED_DATE" property="acceptedDate" jdbcType="TIMESTAMP" />
    <result column="ACCEPTED_AMOUNT" property="acceptedAmount" jdbcType="DECIMAL" />
    <result column="DISPATCHED_STATUS" property="dispatchedStatus" jdbcType="CHAR" />
    <result column="DISPATCHED_DETAIL_ID" property="dispatchedDetailId" jdbcType="VARCHAR" />
    <result column="CHENEL" property="chenel" jdbcType="VARCHAR" />
    <result column="RECORD_TYPE" property="recordType" jdbcType="VARCHAR" />
    <result column="FATHER_COUPON_ID" property="fatherCouponId" jdbcType="VARCHAR" />
    <result column="ROOT_COUPON_ID" property="rootCouponId" jdbcType="VARCHAR" />
    <result column="RETURN_COUPON_RULE_ID" property="returnCouponRuleId" jdbcType="VARCHAR" />
    <result column="COUPON_PAY_AMT" property="couponPayAmt" jdbcType="DECIMAL" />
    <result column="COUPON_ORDER_ID" property="couponOrderId" jdbcType="VARCHAR" />
    <result column="COUPON_RULE_ID" property="couponRuleId" jdbcType="VARCHAR" />
    <result column="COUPON_PUTWAY_TIME" property="couponPutwayTime" jdbcType="TIMESTAMP" />
    <result column="CHANNEL_TYPE" property="channelType" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
    <result column="IS_SEND_MESSAGE" property="isSendMessage" jdbcType="CHAR" />
    <result column="SYS_SOURCE" property="sysSource" jdbcType="NUMERIC" />
    <result column="USED_SOURCE" property="usedSource" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COUPON_ID, PROMOTION_ID, ORDER_ID, COUPON_AMOUNT, DENOMINATION_AMOUNT, COUPON_GEN_TIME, 
    COUPON_EXPIRE_DATE, ACCEPTED_STATUS, MEMBER_ID, MERCHANT_ID, COUPON_STATUS, COUPON_USED_AMOUNT, 
    ACCEPTED_DATE, ACCEPTED_AMOUNT, DISPATCHED_STATUS, DISPATCHED_DETAIL_ID, CHENEL, 
    RECORD_TYPE, FATHER_COUPON_ID, ROOT_COUPON_ID, RETURN_COUPON_RULE_ID, COUPON_PAY_AMT, 
    COUPON_ORDER_ID, COUPON_RULE_ID, COUPON_PUTWAY_TIME, CHANNEL_TYPE, mall_id, IS_SEND_MESSAGE,
    SYS_SOURCE, USED_SOURCE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_coupon_record
    where COUPON_ID = #{couponId,jdbcType=VARCHAR}
  </select>

    <select id="selectReceiveCouponListByCouponIds" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from b2c_coupon_record
        where COUPON_ID in
        <foreach collection="couponIds" item="couponId" index="index"
                 open="(" close=")" separator=",">
            #{couponId}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_coupon_record
    where COUPON_ID = #{couponId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.CouponRecord" >
    insert into b2c_coupon_record (COUPON_ID, PROMOTION_ID, ORDER_ID, 
      COUPON_AMOUNT, DENOMINATION_AMOUNT, COUPON_GEN_TIME, 
      COUPON_EXPIRE_DATE, ACCEPTED_STATUS, MEMBER_ID, 
      MERCHANT_ID, COUPON_STATUS, COUPON_USED_AMOUNT, 
      ACCEPTED_DATE, ACCEPTED_AMOUNT, DISPATCHED_STATUS, 
      DISPATCHED_DETAIL_ID, CHENEL, RECORD_TYPE, 
      FATHER_COUPON_ID, ROOT_COUPON_ID, RETURN_COUPON_RULE_ID, 
      COUPON_PAY_AMT, COUPON_ORDER_ID, COUPON_RULE_ID, 
      COUPON_PUTWAY_TIME, CHANNEL_TYPE, mall_id, 
      IS_SEND_MESSAGE)
    values (#{couponId,jdbcType=VARCHAR}, #{promotionId,jdbcType=VARCHAR}, #{orderId,jdbcType=CHAR}, 
      #{couponAmount,jdbcType=DECIMAL}, #{denominationAmount,jdbcType=DECIMAL}, #{couponGenTime,jdbcType=TIMESTAMP}, 
      #{couponExpireDate,jdbcType=TIMESTAMP}, #{acceptedStatus,jdbcType=CHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{merchantId,jdbcType=VARCHAR}, #{couponStatus,jdbcType=CHAR}, #{couponUsedAmount,jdbcType=DECIMAL}, 
      #{acceptedDate,jdbcType=TIMESTAMP}, #{acceptedAmount,jdbcType=DECIMAL}, #{dispatchedStatus,jdbcType=CHAR}, 
      #{dispatchedDetailId,jdbcType=VARCHAR}, #{chenel,jdbcType=VARCHAR}, #{recordType,jdbcType=VARCHAR}, 
      #{fatherCouponId,jdbcType=VARCHAR}, #{rootCouponId,jdbcType=VARCHAR}, #{returnCouponRuleId,jdbcType=VARCHAR}, 
      #{couponPayAmt,jdbcType=DECIMAL}, #{couponOrderId,jdbcType=VARCHAR}, #{couponRuleId,jdbcType=VARCHAR}, 
      #{couponPutwayTime,jdbcType=TIMESTAMP}, #{channelType,jdbcType=VARCHAR}, #{mallId,jdbcType=VARCHAR}, 
      #{isSendMessage,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.CouponRecord" >
    insert into b2c_coupon_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        COUPON_ID,
      </if>
      <if test="promotionId != null" >
        PROMOTION_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="couponAmount != null" >
        COUPON_AMOUNT,
      </if>
      <if test="denominationAmount != null" >
        DENOMINATION_AMOUNT,
      </if>
      <if test="couponGenTime != null" >
        COUPON_GEN_TIME,
      </if>
      <if test="couponExpireDate != null" >
        COUPON_EXPIRE_DATE,
      </if>
      <if test="acceptedStatus != null" >
        ACCEPTED_STATUS,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="couponStatus != null" >
        COUPON_STATUS,
      </if>
      <if test="couponUsedAmount != null" >
        COUPON_USED_AMOUNT,
      </if>
      <if test="acceptedDate != null" >
        ACCEPTED_DATE,
      </if>
      <if test="acceptedAmount != null" >
        ACCEPTED_AMOUNT,
      </if>
      <if test="dispatchedStatus != null" >
        DISPATCHED_STATUS,
      </if>
      <if test="dispatchedDetailId != null" >
        DISPATCHED_DETAIL_ID,
      </if>
      <if test="chenel != null" >
        CHENEL,
      </if>
      <if test="recordType != null" >
        RECORD_TYPE,
      </if>
      <if test="fatherCouponId != null" >
        FATHER_COUPON_ID,
      </if>
      <if test="rootCouponId != null" >
        ROOT_COUPON_ID,
      </if>
      <if test="returnCouponRuleId != null" >
        RETURN_COUPON_RULE_ID,
      </if>
      <if test="couponPayAmt != null" >
        COUPON_PAY_AMT,
      </if>
      <if test="couponOrderId != null" >
        COUPON_ORDER_ID,
      </if>
      <if test="couponRuleId != null" >
        COUPON_RULE_ID,
      </if>
      <if test="couponPutwayTime != null" >
        COUPON_PUTWAY_TIME,
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
      <if test="isSendMessage != null" >
        IS_SEND_MESSAGE,
      </if>
      <if test="sysSource != null" >
        SYS_SOURCE,
      </if>
      <if test="usedSource != null" >
        USED_SOURCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="denominationAmount != null" >
        #{denominationAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponGenTime != null" >
        #{couponGenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponExpireDate != null" >
        #{couponExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedStatus != null" >
        #{acceptedStatus,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="couponStatus != null" >
        #{couponStatus,jdbcType=CHAR},
      </if>
      <if test="couponUsedAmount != null" >
        #{couponUsedAmount,jdbcType=DECIMAL},
      </if>
      <if test="acceptedDate != null" >
        #{acceptedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedAmount != null" >
        #{acceptedAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedStatus != null" >
        #{dispatchedStatus,jdbcType=CHAR},
      </if>
      <if test="dispatchedDetailId != null" >
        #{dispatchedDetailId,jdbcType=VARCHAR},
      </if>
      <if test="chenel != null" >
        #{chenel,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="fatherCouponId != null" >
        #{fatherCouponId,jdbcType=VARCHAR},
      </if>
      <if test="rootCouponId != null" >
        #{rootCouponId,jdbcType=VARCHAR},
      </if>
      <if test="returnCouponRuleId != null" >
        #{returnCouponRuleId,jdbcType=VARCHAR},
      </if>
      <if test="couponPayAmt != null" >
        #{couponPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="couponOrderId != null" >
        #{couponOrderId,jdbcType=VARCHAR},
      </if>
      <if test="couponRuleId != null" >
        #{couponRuleId,jdbcType=VARCHAR},
      </if>
      <if test="couponPutwayTime != null" >
        #{couponPutwayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="isSendMessage != null" >
        #{isSendMessage,jdbcType=CHAR},
      </if>
      <if test="sysSource != null" >
        #{sysSource,jdbcType=NUMERIC},
      </if>
      <if test="usedSource != null" >
        #{usedSource,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.CouponRecord" >
    update b2c_coupon_record
    <set >
      <if test="promotionId != null" >
        PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=CHAR},
      </if>
      <if test="couponAmount != null" >
        COUPON_AMOUNT = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="denominationAmount != null" >
        DENOMINATION_AMOUNT = #{denominationAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponGenTime != null" >
        COUPON_GEN_TIME = #{couponGenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponExpireDate != null" >
        COUPON_EXPIRE_DATE = #{couponExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedStatus != null" >
        ACCEPTED_STATUS = #{acceptedStatus,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="couponStatus != null" >
        COUPON_STATUS = #{couponStatus,jdbcType=CHAR},
      </if>
      <if test="couponUsedAmount != null" >
        COUPON_USED_AMOUNT = #{couponUsedAmount,jdbcType=DECIMAL},
      </if>
      <if test="acceptedDate != null" >
        ACCEPTED_DATE = #{acceptedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedAmount != null" >
        ACCEPTED_AMOUNT = #{acceptedAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedStatus != null" >
        DISPATCHED_STATUS = #{dispatchedStatus,jdbcType=CHAR},
      </if>
      <if test="dispatchedDetailId != null" >
        DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR},
      </if>
      <if test="chenel != null" >
        CHENEL = #{chenel,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        RECORD_TYPE = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="fatherCouponId != null" >
        FATHER_COUPON_ID = #{fatherCouponId,jdbcType=VARCHAR},
      </if>
      <if test="rootCouponId != null" >
        ROOT_COUPON_ID = #{rootCouponId,jdbcType=VARCHAR},
      </if>
      <if test="returnCouponRuleId != null" >
        RETURN_COUPON_RULE_ID = #{returnCouponRuleId,jdbcType=VARCHAR},
      </if>
      <if test="couponPayAmt != null" >
        COUPON_PAY_AMT = #{couponPayAmt,jdbcType=DECIMAL},
      </if>
      <if test="couponOrderId != null" >
        COUPON_ORDER_ID = #{couponOrderId,jdbcType=VARCHAR},
      </if>
      <if test="couponRuleId != null" >
        COUPON_RULE_ID = #{couponRuleId,jdbcType=VARCHAR},
      </if>
      <if test="couponPutwayTime != null" >
        COUPON_PUTWAY_TIME = #{couponPutwayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        mall_id = #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="isSendMessage != null" >
        IS_SEND_MESSAGE = #{isSendMessage,jdbcType=CHAR},
      </if>
      <if test="sysSource != null" >
        SYS_SOURCE = #{sysSource,jdbcType=NUMERIC},
      </if>
      <if test="usedSource != null" >
        USED_SOURCE = #{usedSource,jdbcType=CHAR},
      </if>
    </set>
    where COUPON_ID = #{couponId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.CouponRecord" >
    update b2c_coupon_record
    set PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=CHAR},
      COUPON_AMOUNT = #{couponAmount,jdbcType=DECIMAL},
      DENOMINATION_AMOUNT = #{denominationAmount,jdbcType=DECIMAL},
      COUPON_GEN_TIME = #{couponGenTime,jdbcType=TIMESTAMP},
      COUPON_EXPIRE_DATE = #{couponExpireDate,jdbcType=TIMESTAMP},
      ACCEPTED_STATUS = #{acceptedStatus,jdbcType=CHAR},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      COUPON_STATUS = #{couponStatus,jdbcType=CHAR},
      COUPON_USED_AMOUNT = #{couponUsedAmount,jdbcType=DECIMAL},
      ACCEPTED_DATE = #{acceptedDate,jdbcType=TIMESTAMP},
      ACCEPTED_AMOUNT = #{acceptedAmount,jdbcType=DECIMAL},
      DISPATCHED_STATUS = #{dispatchedStatus,jdbcType=CHAR},
      DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR},
      CHENEL = #{chenel,jdbcType=VARCHAR},
      RECORD_TYPE = #{recordType,jdbcType=VARCHAR},
      FATHER_COUPON_ID = #{fatherCouponId,jdbcType=VARCHAR},
      ROOT_COUPON_ID = #{rootCouponId,jdbcType=VARCHAR},
      RETURN_COUPON_RULE_ID = #{returnCouponRuleId,jdbcType=VARCHAR},
      COUPON_PAY_AMT = #{couponPayAmt,jdbcType=DECIMAL},
      COUPON_ORDER_ID = #{couponOrderId,jdbcType=VARCHAR},
      COUPON_RULE_ID = #{couponRuleId,jdbcType=VARCHAR},
      COUPON_PUTWAY_TIME = #{couponPutwayTime,jdbcType=TIMESTAMP},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      mall_id = #{mallId,jdbcType=VARCHAR},
      IS_SEND_MESSAGE = #{isSendMessage,jdbcType=CHAR}
    where COUPON_ID = #{couponId,jdbcType=VARCHAR}
  </update>
</mapper>