<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.CouponDispatchMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.CouponDispatch" >
    <id column="DISPATCHED_ID" property="dispatchedId" jdbcType="VARCHAR" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="DISPATCHED_TOTAL_AMOUNT" property="dispatchedTotalAmount" jdbcType="DECIMAL" />
    <result column="DISPATCHED_SUCCESS" property="dispatchedSuccess" jdbcType="DECIMAL" />
    <result column="DISPATCHED_FAILED" property="dispatchedFailed" jdbcType="DECIMAL" />
    <result column="DISPATCHED_TIME" property="dispatchedTime" jdbcType="TIMESTAMP" />
    <result column="DISPATCHED_EXECUTOR" property="dispatchedExecutor" jdbcType="VARCHAR" />
    <result column="DISPATCHED_STATUS" property="dispatchedStatus" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DISPATCHED_ID, PROMOTION_ID, DISPATCHED_TOTAL_AMOUNT, DISPATCHED_SUCCESS, DISPATCHED_FAILED, 
    DISPATCHED_TIME, DISPATCHED_EXECUTOR, DISPATCHED_STATUS, REMARK, mall_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_coupon_dispatch
    where DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_coupon_dispatch
    where DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.CouponDispatch" >
    insert into b2c_coupon_dispatch (DISPATCHED_ID, PROMOTION_ID, DISPATCHED_TOTAL_AMOUNT, 
      DISPATCHED_SUCCESS, DISPATCHED_FAILED, DISPATCHED_TIME, 
      DISPATCHED_EXECUTOR, DISPATCHED_STATUS, REMARK, 
      mall_id)
    values (#{dispatchedId,jdbcType=VARCHAR}, #{promotionId,jdbcType=VARCHAR}, #{dispatchedTotalAmount,jdbcType=DECIMAL}, 
      #{dispatchedSuccess,jdbcType=DECIMAL}, #{dispatchedFailed,jdbcType=DECIMAL}, #{dispatchedTime,jdbcType=TIMESTAMP}, 
      #{dispatchedExecutor,jdbcType=VARCHAR}, #{dispatchedStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{mallId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.CouponDispatch" >
    insert into b2c_coupon_dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dispatchedId != null" >
        DISPATCHED_ID,
      </if>
      <if test="promotionId != null" >
        PROMOTION_ID,
      </if>
      <if test="dispatchedTotalAmount != null" >
        DISPATCHED_TOTAL_AMOUNT,
      </if>
      <if test="dispatchedSuccess != null" >
        DISPATCHED_SUCCESS,
      </if>
      <if test="dispatchedFailed != null" >
        DISPATCHED_FAILED,
      </if>
      <if test="dispatchedTime != null" >
        DISPATCHED_TIME,
      </if>
      <if test="dispatchedExecutor != null" >
        DISPATCHED_EXECUTOR,
      </if>
      <if test="dispatchedStatus != null" >
        DISPATCHED_STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dispatchedId != null" >
        #{dispatchedId,jdbcType=VARCHAR},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedTotalAmount != null" >
        #{dispatchedTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedSuccess != null" >
        #{dispatchedSuccess,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedFailed != null" >
        #{dispatchedFailed,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedTime != null" >
        #{dispatchedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchedExecutor != null" >
        #{dispatchedExecutor,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedStatus != null" >
        #{dispatchedStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.CouponDispatch" >
    update b2c_coupon_dispatch
    <set >
      <if test="promotionId != null" >
        PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedTotalAmount != null" >
        DISPATCHED_TOTAL_AMOUNT = #{dispatchedTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedSuccess != null" >
        DISPATCHED_SUCCESS = #{dispatchedSuccess,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedFailed != null" >
        DISPATCHED_FAILED = #{dispatchedFailed,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedTime != null" >
        DISPATCHED_TIME = #{dispatchedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchedExecutor != null" >
        DISPATCHED_EXECUTOR = #{dispatchedExecutor,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedStatus != null" >
        DISPATCHED_STATUS = #{dispatchedStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        mall_id = #{mallId,jdbcType=VARCHAR},
      </if>
    </set>
    where DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.CouponDispatch" >
    update b2c_coupon_dispatch
    set PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      DISPATCHED_TOTAL_AMOUNT = #{dispatchedTotalAmount,jdbcType=DECIMAL},
      DISPATCHED_SUCCESS = #{dispatchedSuccess,jdbcType=DECIMAL},
      DISPATCHED_FAILED = #{dispatchedFailed,jdbcType=DECIMAL},
      DISPATCHED_TIME = #{dispatchedTime,jdbcType=TIMESTAMP},
      DISPATCHED_EXECUTOR = #{dispatchedExecutor,jdbcType=VARCHAR},
      DISPATCHED_STATUS = #{dispatchedStatus,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      mall_id = #{mallId,jdbcType=VARCHAR}
    where DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR}
  </update>
</mapper>