<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.CouponDispatchDetailMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.CouponDispatchDetail" >
    <id column="DISPATCHED_DETAIL_ID" property="dispatchedDetailId" jdbcType="VARCHAR" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="DISPATCHED_MEMBER_ID" property="dispatchedMemberId" jdbcType="VARCHAR" />
    <result column="DISPATCHED_MEMBER_NAME" property="dispatchedMemberName" jdbcType="VARCHAR" />
    <result column="DISPATCHED_AMOUNT" property="dispatchedAmount" jdbcType="DECIMAL" />
    <result column="DISPATCHED_ID" property="dispatchedId" jdbcType="VARCHAR" />
    <result column="DISPATCHED_DETAIL_STATUS" property="dispatchedDetailStatus" jdbcType="CHAR" />
    <result column="DISPATCHED_DONOMINATION" property="dispatchedDonomination" jdbcType="DECIMAL" />
    <result column="DISPATCHED_COUNT" property="dispatchedCount" jdbcType="DECIMAL" />
    <result column="ERROR_DESC" property="errorDesc" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="IS_SEND_ALREADY" property="isSendAlready" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LAST_MODIFY_DATE" property="lastModifyDate" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="REVIEWER_ID" property="reviewerId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
    <result column="GET_COUPON_DATE" property="getCouponDate" jdbcType="TIMESTAMP" />
    <result column="COUPON_OVERDUE_STATUS" property="couponOverdueStatus" jdbcType="VARCHAR" />
    <result column="DELETE_COUPON_STATUS" property="deleteCouponStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DISPATCHED_DETAIL_ID, PROMOTION_ID, DISPATCHED_MEMBER_ID, DISPATCHED_MEMBER_NAME, 
    DISPATCHED_AMOUNT, DISPATCHED_ID, DISPATCHED_DETAIL_STATUS, DISPATCHED_DONOMINATION, 
    DISPATCHED_COUNT, ERROR_DESC, STATUS, IS_SEND_ALREADY, CREATE_DATE, LAST_MODIFY_DATE, 
    CREATOR_ID, REVIEWER_ID, REMARK, mall_id, GET_COUPON_DATE, COUPON_OVERDUE_STATUS, 
    DELETE_COUPON_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_coupon_dispatch_detail
    where DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_coupon_dispatch_detail
    where DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.CouponDispatchDetail" >
    insert into b2c_coupon_dispatch_detail (DISPATCHED_DETAIL_ID, PROMOTION_ID, 
      DISPATCHED_MEMBER_ID, DISPATCHED_MEMBER_NAME, 
      DISPATCHED_AMOUNT, DISPATCHED_ID, DISPATCHED_DETAIL_STATUS, 
      DISPATCHED_DONOMINATION, DISPATCHED_COUNT, 
      ERROR_DESC, STATUS, IS_SEND_ALREADY, 
      CREATE_DATE, LAST_MODIFY_DATE, CREATOR_ID, 
      REVIEWER_ID, REMARK, mall_id, 
      GET_COUPON_DATE, COUPON_OVERDUE_STATUS, DELETE_COUPON_STATUS
      )
    values (#{dispatchedDetailId,jdbcType=VARCHAR}, #{promotionId,jdbcType=VARCHAR}, 
      #{dispatchedMemberId,jdbcType=VARCHAR}, #{dispatchedMemberName,jdbcType=VARCHAR}, 
      #{dispatchedAmount,jdbcType=DECIMAL}, #{dispatchedId,jdbcType=VARCHAR}, #{dispatchedDetailStatus,jdbcType=CHAR}, 
      #{dispatchedDonomination,jdbcType=DECIMAL}, #{dispatchedCount,jdbcType=DECIMAL}, 
      #{errorDesc,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{isSendAlready,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR}, 
      #{reviewerId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{mallId,jdbcType=VARCHAR}, 
      #{getCouponDate,jdbcType=TIMESTAMP}, #{couponOverdueStatus,jdbcType=VARCHAR}, #{deleteCouponStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.CouponDispatchDetail" >
    insert into b2c_coupon_dispatch_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dispatchedDetailId != null" >
        DISPATCHED_DETAIL_ID,
      </if>
      <if test="promotionId != null" >
        PROMOTION_ID,
      </if>
      <if test="dispatchedMemberId != null" >
        DISPATCHED_MEMBER_ID,
      </if>
      <if test="dispatchedMemberName != null" >
        DISPATCHED_MEMBER_NAME,
      </if>
      <if test="dispatchedAmount != null" >
        DISPATCHED_AMOUNT,
      </if>
      <if test="dispatchedId != null" >
        DISPATCHED_ID,
      </if>
      <if test="dispatchedDetailStatus != null" >
        DISPATCHED_DETAIL_STATUS,
      </if>
      <if test="dispatchedDonomination != null" >
        DISPATCHED_DONOMINATION,
      </if>
      <if test="dispatchedCount != null" >
        DISPATCHED_COUNT,
      </if>
      <if test="errorDesc != null" >
        ERROR_DESC,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isSendAlready != null" >
        IS_SEND_ALREADY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="reviewerId != null" >
        REVIEWER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
      <if test="getCouponDate != null" >
        GET_COUPON_DATE,
      </if>
      <if test="couponOverdueStatus != null" >
        COUPON_OVERDUE_STATUS,
      </if>
      <if test="deleteCouponStatus != null" >
        DELETE_COUPON_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dispatchedDetailId != null" >
        #{dispatchedDetailId,jdbcType=VARCHAR},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedMemberId != null" >
        #{dispatchedMemberId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedMemberName != null" >
        #{dispatchedMemberName,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedAmount != null" >
        #{dispatchedAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedId != null" >
        #{dispatchedId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedDetailStatus != null" >
        #{dispatchedDetailStatus,jdbcType=CHAR},
      </if>
      <if test="dispatchedDonomination != null" >
        #{dispatchedDonomination,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedCount != null" >
        #{dispatchedCount,jdbcType=DECIMAL},
      </if>
      <if test="errorDesc != null" >
        #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="isSendAlready != null" >
        #{isSendAlready,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        #{reviewerId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="getCouponDate != null" >
        #{getCouponDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponOverdueStatus != null" >
        #{couponOverdueStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteCouponStatus != null" >
        #{deleteCouponStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.CouponDispatchDetail" >
    update b2c_coupon_dispatch_detail
    <set >
      <if test="promotionId != null" >
        PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedMemberId != null" >
        DISPATCHED_MEMBER_ID = #{dispatchedMemberId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedMemberName != null" >
        DISPATCHED_MEMBER_NAME = #{dispatchedMemberName,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedAmount != null" >
        DISPATCHED_AMOUNT = #{dispatchedAmount,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedId != null" >
        DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchedDetailStatus != null" >
        DISPATCHED_DETAIL_STATUS = #{dispatchedDetailStatus,jdbcType=CHAR},
      </if>
      <if test="dispatchedDonomination != null" >
        DISPATCHED_DONOMINATION = #{dispatchedDonomination,jdbcType=DECIMAL},
      </if>
      <if test="dispatchedCount != null" >
        DISPATCHED_COUNT = #{dispatchedCount,jdbcType=DECIMAL},
      </if>
      <if test="errorDesc != null" >
        ERROR_DESC = #{errorDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="isSendAlready != null" >
        IS_SEND_ALREADY = #{isSendAlready,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="reviewerId != null" >
        REVIEWER_ID = #{reviewerId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        mall_id = #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="getCouponDate != null" >
        GET_COUPON_DATE = #{getCouponDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponOverdueStatus != null" >
        COUPON_OVERDUE_STATUS = #{couponOverdueStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteCouponStatus != null" >
        DELETE_COUPON_STATUS = #{deleteCouponStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.CouponDispatchDetail" >
    update b2c_coupon_dispatch_detail
    set PROMOTION_ID = #{promotionId,jdbcType=VARCHAR},
      DISPATCHED_MEMBER_ID = #{dispatchedMemberId,jdbcType=VARCHAR},
      DISPATCHED_MEMBER_NAME = #{dispatchedMemberName,jdbcType=VARCHAR},
      DISPATCHED_AMOUNT = #{dispatchedAmount,jdbcType=DECIMAL},
      DISPATCHED_ID = #{dispatchedId,jdbcType=VARCHAR},
      DISPATCHED_DETAIL_STATUS = #{dispatchedDetailStatus,jdbcType=CHAR},
      DISPATCHED_DONOMINATION = #{dispatchedDonomination,jdbcType=DECIMAL},
      DISPATCHED_COUNT = #{dispatchedCount,jdbcType=DECIMAL},
      ERROR_DESC = #{errorDesc,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      IS_SEND_ALREADY = #{isSendAlready,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      REVIEWER_ID = #{reviewerId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      mall_id = #{mallId,jdbcType=VARCHAR},
      GET_COUPON_DATE = #{getCouponDate,jdbcType=TIMESTAMP},
      COUPON_OVERDUE_STATUS = #{couponOverdueStatus,jdbcType=VARCHAR},
      DELETE_COUPON_STATUS = #{deleteCouponStatus,jdbcType=VARCHAR}
    where DISPATCHED_DETAIL_ID = #{dispatchedDetailId,jdbcType=VARCHAR}
  </update>
</mapper>