<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.PromotionMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.Promotion" >
    <id column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <id column="PROMOTION_STATUS" property="promotionStatus" jdbcType="CHAR" />
    <id column="PROMOTION_START_TIME" property="promotionStartTime" jdbcType="TIMESTAMP" />
    <id column="PROMOTION_END_TIME" property="promotionEndTime" jdbcType="TIMESTAMP" />
    <result column="PROMOTION_NAME" property="promotionName" jdbcType="VARCHAR" />
    <result column="PROMOTION_LAUNCHER" property="promotionLauncher" jdbcType="VARCHAR" />
    <result column="PROMOTION_CREATE_TIME" property="promotionCreateTime" jdbcType="TIMESTAMP" />
    <result column="PROMOTION_DEFINE_ID" property="promotionDefineId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_ID" property="modifyId" jdbcType="VARCHAR" />
    <result column="SPONSOR" property="sponsor" jdbcType="CHAR" />
    <result column="CHANNEL_TYPE" property="channelType" jdbcType="VARCHAR" />
    <result column="IS_SHARE" property="isShare" jdbcType="CHAR" />
    <result column="SHARE_RATIO" property="shareRatio" jdbcType="DECIMAL" />
    <result column="PROMOTION_CHANNEL" property="promotionChannel" jdbcType="CHAR" />
    <result column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
    <result column="magnitude" property="magnitude" jdbcType="VARCHAR" />
    <result column="releaseStatus" property="releasestatus" jdbcType="CHAR" />
    <result column="releaseTime" property="releasetime" jdbcType="TIMESTAMP" />
    <result column="active_quantity" property="activeQuantity" jdbcType="VARCHAR" />
    <result column="PROMOTION_UP_TIME" property="promotionUpTime" jdbcType="TIMESTAMP" />
    <result column="PROMOTION_DOWN_TIME" property="promotionDownTime" jdbcType="TIMESTAMP" />
    <result column="DATE_STATUS" property="dateStatus" jdbcType="CHAR" />
    <result column="PROMOTION_LABLE" property="promotionLable" jdbcType="VARCHAR" />
    <result column="SHOW_TITLE" property="showTitle" jdbcType="VARCHAR" />
    <result column="IS_PROMOTION_CENTER" property="isPromotionCenter" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.model.Promotion" extends="BaseResultMap" >
    <result column="PROMOTION_TITLE" property="promotionTitle" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PROMOTION_ID, PROMOTION_STATUS, PROMOTION_START_TIME, PROMOTION_END_TIME, PROMOTION_NAME, 
    PROMOTION_LAUNCHER, PROMOTION_CREATE_TIME, PROMOTION_DEFINE_ID, CREATE_TIME, CREATE_ID, 
    MODIFY_TIME, MODIFY_ID, SPONSOR, CHANNEL_TYPE, IS_SHARE, SHARE_RATIO, PROMOTION_CHANNEL, 
    INSTANCE_ID, mall_id, magnitude, releaseStatus, releaseTime, active_quantity, PROMOTION_UP_TIME, 
    PROMOTION_DOWN_TIME, DATE_STATUS, PROMOTION_LABLE, SHOW_TITLE, IS_PROMOTION_CENTER
  </sql>
  <sql id="Blob_Column_List" >
    PROMOTION_TITLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.example.model.PromotionKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b2c_promotion
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_STATUS = #{promotionStatus,jdbcType=CHAR}
      and PROMOTION_START_TIME = #{promotionStartTime,jdbcType=TIMESTAMP}
      and PROMOTION_END_TIME = #{promotionEndTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.model.PromotionKey" >
    delete from b2c_promotion
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_STATUS = #{promotionStatus,jdbcType=CHAR}
      and PROMOTION_START_TIME = #{promotionStartTime,jdbcType=TIMESTAMP}
      and PROMOTION_END_TIME = #{promotionEndTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.example.model.Promotion" >
    insert into b2c_promotion (PROMOTION_ID, PROMOTION_STATUS, PROMOTION_START_TIME, 
      PROMOTION_END_TIME, PROMOTION_NAME, PROMOTION_LAUNCHER, 
      PROMOTION_CREATE_TIME, PROMOTION_DEFINE_ID, 
      CREATE_TIME, CREATE_ID, MODIFY_TIME, 
      MODIFY_ID, SPONSOR, CHANNEL_TYPE, 
      IS_SHARE, SHARE_RATIO, PROMOTION_CHANNEL, 
      INSTANCE_ID, mall_id, magnitude, 
      releaseStatus, releaseTime, active_quantity, 
      PROMOTION_UP_TIME, PROMOTION_DOWN_TIME, 
      DATE_STATUS, PROMOTION_LABLE, SHOW_TITLE, 
      IS_PROMOTION_CENTER, PROMOTION_TITLE)
    values (#{promotionId,jdbcType=VARCHAR}, #{promotionStatus,jdbcType=CHAR}, #{promotionStartTime,jdbcType=TIMESTAMP}, 
      #{promotionEndTime,jdbcType=TIMESTAMP}, #{promotionName,jdbcType=VARCHAR}, #{promotionLauncher,jdbcType=VARCHAR}, 
      #{promotionCreateTime,jdbcType=TIMESTAMP}, #{promotionDefineId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyId,jdbcType=VARCHAR}, #{sponsor,jdbcType=CHAR}, #{channelType,jdbcType=VARCHAR}, 
      #{isShare,jdbcType=CHAR}, #{shareRatio,jdbcType=DECIMAL}, #{promotionChannel,jdbcType=CHAR}, 
      #{instanceId,jdbcType=VARCHAR}, #{mallId,jdbcType=VARCHAR}, #{magnitude,jdbcType=VARCHAR}, 
      #{releasestatus,jdbcType=CHAR}, #{releasetime,jdbcType=TIMESTAMP}, #{activeQuantity,jdbcType=VARCHAR}, 
      #{promotionUpTime,jdbcType=TIMESTAMP}, #{promotionDownTime,jdbcType=TIMESTAMP}, 
      #{dateStatus,jdbcType=CHAR}, #{promotionLable,jdbcType=VARCHAR}, #{showTitle,jdbcType=VARCHAR}, 
      #{isPromotionCenter,jdbcType=VARCHAR}, #{promotionTitle,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Promotion" >
    insert into b2c_promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        PROMOTION_ID,
      </if>
      <if test="promotionStatus != null" >
        PROMOTION_STATUS,
      </if>
      <if test="promotionStartTime != null" >
        PROMOTION_START_TIME,
      </if>
      <if test="promotionEndTime != null" >
        PROMOTION_END_TIME,
      </if>
      <if test="promotionName != null" >
        PROMOTION_NAME,
      </if>
      <if test="promotionLauncher != null" >
        PROMOTION_LAUNCHER,
      </if>
      <if test="promotionCreateTime != null" >
        PROMOTION_CREATE_TIME,
      </if>
      <if test="promotionDefineId != null" >
        PROMOTION_DEFINE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyId != null" >
        MODIFY_ID,
      </if>
      <if test="sponsor != null" >
        SPONSOR,
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE,
      </if>
      <if test="isShare != null" >
        IS_SHARE,
      </if>
      <if test="shareRatio != null" >
        SHARE_RATIO,
      </if>
      <if test="promotionChannel != null" >
        PROMOTION_CHANNEL,
      </if>
      <if test="instanceId != null" >
        INSTANCE_ID,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
      <if test="magnitude != null" >
        magnitude,
      </if>
      <if test="releasestatus != null" >
        releaseStatus,
      </if>
      <if test="releasetime != null" >
        releaseTime,
      </if>
      <if test="activeQuantity != null" >
        active_quantity,
      </if>
      <if test="promotionUpTime != null" >
        PROMOTION_UP_TIME,
      </if>
      <if test="promotionDownTime != null" >
        PROMOTION_DOWN_TIME,
      </if>
      <if test="dateStatus != null" >
        DATE_STATUS,
      </if>
      <if test="promotionLable != null" >
        PROMOTION_LABLE,
      </if>
      <if test="showTitle != null" >
        SHOW_TITLE,
      </if>
      <if test="isPromotionCenter != null" >
        IS_PROMOTION_CENTER,
      </if>
      <if test="promotionTitle != null" >
        PROMOTION_TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionStatus != null" >
        #{promotionStatus,jdbcType=CHAR},
      </if>
      <if test="promotionStartTime != null" >
        #{promotionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionEndTime != null" >
        #{promotionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionName != null" >
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionLauncher != null" >
        #{promotionLauncher,jdbcType=VARCHAR},
      </if>
      <if test="promotionCreateTime != null" >
        #{promotionCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionDefineId != null" >
        #{promotionDefineId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null" >
        #{sponsor,jdbcType=CHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="isShare != null" >
        #{isShare,jdbcType=CHAR},
      </if>
      <if test="shareRatio != null" >
        #{shareRatio,jdbcType=DECIMAL},
      </if>
      <if test="promotionChannel != null" >
        #{promotionChannel,jdbcType=CHAR},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="magnitude != null" >
        #{magnitude,jdbcType=VARCHAR},
      </if>
      <if test="releasestatus != null" >
        #{releasestatus,jdbcType=CHAR},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeQuantity != null" >
        #{activeQuantity,jdbcType=VARCHAR},
      </if>
      <if test="promotionUpTime != null" >
        #{promotionUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionDownTime != null" >
        #{promotionDownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dateStatus != null" >
        #{dateStatus,jdbcType=CHAR},
      </if>
      <if test="promotionLable != null" >
        #{promotionLable,jdbcType=VARCHAR},
      </if>
      <if test="showTitle != null" >
        #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="isPromotionCenter != null" >
        #{isPromotionCenter,jdbcType=VARCHAR},
      </if>
      <if test="promotionTitle != null" >
        #{promotionTitle,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Promotion" >
    update b2c_promotion
    <set >
      <if test="promotionName != null" >
        PROMOTION_NAME = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionLauncher != null" >
        PROMOTION_LAUNCHER = #{promotionLauncher,jdbcType=VARCHAR},
      </if>
      <if test="promotionCreateTime != null" >
        PROMOTION_CREATE_TIME = #{promotionCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionDefineId != null" >
        PROMOTION_DEFINE_ID = #{promotionDefineId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="sponsor != null" >
        SPONSOR = #{sponsor,jdbcType=CHAR},
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="isShare != null" >
        IS_SHARE = #{isShare,jdbcType=CHAR},
      </if>
      <if test="shareRatio != null" >
        SHARE_RATIO = #{shareRatio,jdbcType=DECIMAL},
      </if>
      <if test="promotionChannel != null" >
        PROMOTION_CHANNEL = #{promotionChannel,jdbcType=CHAR},
      </if>
      <if test="instanceId != null" >
        INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        mall_id = #{mallId,jdbcType=VARCHAR},
      </if>
      <if test="magnitude != null" >
        magnitude = #{magnitude,jdbcType=VARCHAR},
      </if>
      <if test="releasestatus != null" >
        releaseStatus = #{releasestatus,jdbcType=CHAR},
      </if>
      <if test="releasetime != null" >
        releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeQuantity != null" >
        active_quantity = #{activeQuantity,jdbcType=VARCHAR},
      </if>
      <if test="promotionUpTime != null" >
        PROMOTION_UP_TIME = #{promotionUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionDownTime != null" >
        PROMOTION_DOWN_TIME = #{promotionDownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dateStatus != null" >
        DATE_STATUS = #{dateStatus,jdbcType=CHAR},
      </if>
      <if test="promotionLable != null" >
        PROMOTION_LABLE = #{promotionLable,jdbcType=VARCHAR},
      </if>
      <if test="showTitle != null" >
        SHOW_TITLE = #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="isPromotionCenter != null" >
        IS_PROMOTION_CENTER = #{isPromotionCenter,jdbcType=VARCHAR},
      </if>
      <if test="promotionTitle != null" >
        PROMOTION_TITLE = #{promotionTitle,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_STATUS = #{promotionStatus,jdbcType=CHAR}
      and PROMOTION_START_TIME = #{promotionStartTime,jdbcType=TIMESTAMP}
      and PROMOTION_END_TIME = #{promotionEndTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.model.Promotion" >
    update b2c_promotion
    set PROMOTION_NAME = #{promotionName,jdbcType=VARCHAR},
      PROMOTION_LAUNCHER = #{promotionLauncher,jdbcType=VARCHAR},
      PROMOTION_CREATE_TIME = #{promotionCreateTime,jdbcType=TIMESTAMP},
      PROMOTION_DEFINE_ID = #{promotionDefineId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      SPONSOR = #{sponsor,jdbcType=CHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      IS_SHARE = #{isShare,jdbcType=CHAR},
      SHARE_RATIO = #{shareRatio,jdbcType=DECIMAL},
      PROMOTION_CHANNEL = #{promotionChannel,jdbcType=CHAR},
      INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      mall_id = #{mallId,jdbcType=VARCHAR},
      magnitude = #{magnitude,jdbcType=VARCHAR},
      releaseStatus = #{releasestatus,jdbcType=CHAR},
      releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      active_quantity = #{activeQuantity,jdbcType=VARCHAR},
      PROMOTION_UP_TIME = #{promotionUpTime,jdbcType=TIMESTAMP},
      PROMOTION_DOWN_TIME = #{promotionDownTime,jdbcType=TIMESTAMP},
      DATE_STATUS = #{dateStatus,jdbcType=CHAR},
      PROMOTION_LABLE = #{promotionLable,jdbcType=VARCHAR},
      SHOW_TITLE = #{showTitle,jdbcType=VARCHAR},
      IS_PROMOTION_CENTER = #{isPromotionCenter,jdbcType=VARCHAR},
      PROMOTION_TITLE = #{promotionTitle,jdbcType=LONGVARCHAR}
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_STATUS = #{promotionStatus,jdbcType=CHAR}
      and PROMOTION_START_TIME = #{promotionStartTime,jdbcType=TIMESTAMP}
      and PROMOTION_END_TIME = #{promotionEndTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Promotion" >
    update b2c_promotion
    set PROMOTION_NAME = #{promotionName,jdbcType=VARCHAR},
      PROMOTION_LAUNCHER = #{promotionLauncher,jdbcType=VARCHAR},
      PROMOTION_CREATE_TIME = #{promotionCreateTime,jdbcType=TIMESTAMP},
      PROMOTION_DEFINE_ID = #{promotionDefineId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      SPONSOR = #{sponsor,jdbcType=CHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      IS_SHARE = #{isShare,jdbcType=CHAR},
      SHARE_RATIO = #{shareRatio,jdbcType=DECIMAL},
      PROMOTION_CHANNEL = #{promotionChannel,jdbcType=CHAR},
      INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      mall_id = #{mallId,jdbcType=VARCHAR},
      magnitude = #{magnitude,jdbcType=VARCHAR},
      releaseStatus = #{releasestatus,jdbcType=CHAR},
      releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      active_quantity = #{activeQuantity,jdbcType=VARCHAR},
      PROMOTION_UP_TIME = #{promotionUpTime,jdbcType=TIMESTAMP},
      PROMOTION_DOWN_TIME = #{promotionDownTime,jdbcType=TIMESTAMP},
      DATE_STATUS = #{dateStatus,jdbcType=CHAR},
      PROMOTION_LABLE = #{promotionLable,jdbcType=VARCHAR},
      SHOW_TITLE = #{showTitle,jdbcType=VARCHAR},
      IS_PROMOTION_CENTER = #{isPromotionCenter,jdbcType=VARCHAR}
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_STATUS = #{promotionStatus,jdbcType=CHAR}
      and PROMOTION_START_TIME = #{promotionStartTime,jdbcType=TIMESTAMP}
      and PROMOTION_END_TIME = #{promotionEndTime,jdbcType=TIMESTAMP}
  </update>

  <select id="checkPromotionName" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b2c_promotion
    where PROMOTION_NAME = #{promotionName,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>