<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.PromotionParamValueMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.PromotionParamValue" >
    <id column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <id column="PROMOTION_PARAM_ID" property="promotionParamId" jdbcType="VARCHAR" />
    <result column="PROMOTION_PARAM_NAME" property="promotionParamName" jdbcType="VARCHAR" />
    <result column="PROMOTION_PARAM_VALUE" property="promotionParamValue" jdbcType="VARCHAR" />
    <result column="PROMOTION_PARAM_DNAME" property="promotionParamDname" jdbcType="VARCHAR" />
    <result column="PROMOTION_PARAM_TYPE" property="promotionParamType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PROMOTION_ID, PROMOTION_PARAM_ID, PROMOTION_PARAM_NAME, PROMOTION_PARAM_VALUE, PROMOTION_PARAM_DNAME, 
    PROMOTION_PARAM_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.model.PromotionParamValueKey" >
    select 
    <include refid="Base_Column_List" />
    from b2c_promotion_param_value
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_PARAM_ID = #{promotionParamId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.model.PromotionParamValueKey" >
    delete from b2c_promotion_param_value
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_PARAM_ID = #{promotionParamId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.PromotionParamValue" >
    insert into b2c_promotion_param_value (PROMOTION_ID, PROMOTION_PARAM_ID, PROMOTION_PARAM_NAME, 
      PROMOTION_PARAM_VALUE, PROMOTION_PARAM_DNAME, 
      PROMOTION_PARAM_TYPE)
    values (#{promotionId,jdbcType=VARCHAR}, #{promotionParamId,jdbcType=VARCHAR}, #{promotionParamName,jdbcType=VARCHAR}, 
      #{promotionParamValue,jdbcType=VARCHAR}, #{promotionParamDname,jdbcType=VARCHAR}, 
      #{promotionParamType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.PromotionParamValue" >
    insert into b2c_promotion_param_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        PROMOTION_ID,
      </if>
      <if test="promotionParamId != null" >
        PROMOTION_PARAM_ID,
      </if>
      <if test="promotionParamName != null" >
        PROMOTION_PARAM_NAME,
      </if>
      <if test="promotionParamValue != null" >
        PROMOTION_PARAM_VALUE,
      </if>
      <if test="promotionParamDname != null" >
        PROMOTION_PARAM_DNAME,
      </if>
      <if test="promotionParamType != null" >
        PROMOTION_PARAM_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamId != null" >
        #{promotionParamId,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamName != null" >
        #{promotionParamName,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamValue != null" >
        #{promotionParamValue,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamDname != null" >
        #{promotionParamDname,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamType != null" >
        #{promotionParamType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.PromotionParamValue" >
    update b2c_promotion_param_value
    <set >
      <if test="promotionParamName != null" >
        PROMOTION_PARAM_NAME = #{promotionParamName,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamValue != null" >
        PROMOTION_PARAM_VALUE = #{promotionParamValue,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamDname != null" >
        PROMOTION_PARAM_DNAME = #{promotionParamDname,jdbcType=VARCHAR},
      </if>
      <if test="promotionParamType != null" >
        PROMOTION_PARAM_TYPE = #{promotionParamType,jdbcType=VARCHAR},
      </if>
    </set>
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_PARAM_ID = #{promotionParamId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.PromotionParamValue" >
    update b2c_promotion_param_value
    set PROMOTION_PARAM_NAME = #{promotionParamName,jdbcType=VARCHAR},
      PROMOTION_PARAM_VALUE = #{promotionParamValue,jdbcType=VARCHAR},
      PROMOTION_PARAM_DNAME = #{promotionParamDname,jdbcType=VARCHAR},
      PROMOTION_PARAM_TYPE = #{promotionParamType,jdbcType=VARCHAR}
    where PROMOTION_ID = #{promotionId,jdbcType=VARCHAR}
      and PROMOTION_PARAM_ID = #{promotionParamId,jdbcType=VARCHAR}
  </update>
</mapper>