<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.SerialNoMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.SerialNo" >
    <id column="SERIAL_NAME" property="serialName" jdbcType="VARCHAR" />
    <result column="SERIAL_VALUE" property="serialValue" jdbcType="DECIMAL" />
    <result column="SERIAL_DESC" property="serialDesc" jdbcType="VARCHAR" />
    <result column="SERIAL_POOL_SIZE" property="serialPoolSize" jdbcType="DECIMAL" />
    <result column="SERIAL_FORMAT" property="serialFormat" jdbcType="VARCHAR" />
    <result column="SERIAL_TYPE" property="serialType" jdbcType="VARCHAR" />
    <result column="SERIAL_ALIAS" property="serialAlias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIAL_NAME, SERIAL_VALUE, SERIAL_DESC, SERIAL_POOL_SIZE, SERIAL_FORMAT, SERIAL_TYPE, 
    SERIAL_ALIAS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_serial_no
    where SERIAL_NAME = #{serialName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_serial_no
    where SERIAL_NAME = #{serialName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.SerialNo" >
    insert into b2c_serial_no (SERIAL_NAME, SERIAL_VALUE, SERIAL_DESC, 
      SERIAL_POOL_SIZE, SERIAL_FORMAT, SERIAL_TYPE, 
      SERIAL_ALIAS)
    values (#{serialName,jdbcType=VARCHAR}, #{serialValue,jdbcType=DECIMAL}, #{serialDesc,jdbcType=VARCHAR}, 
      #{serialPoolSize,jdbcType=DECIMAL}, #{serialFormat,jdbcType=VARCHAR}, #{serialType,jdbcType=VARCHAR}, 
      #{serialAlias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.SerialNo" >
    insert into b2c_serial_no
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialName != null" >
        SERIAL_NAME,
      </if>
      <if test="serialValue != null" >
        SERIAL_VALUE,
      </if>
      <if test="serialDesc != null" >
        SERIAL_DESC,
      </if>
      <if test="serialPoolSize != null" >
        SERIAL_POOL_SIZE,
      </if>
      <if test="serialFormat != null" >
        SERIAL_FORMAT,
      </if>
      <if test="serialType != null" >
        SERIAL_TYPE,
      </if>
      <if test="serialAlias != null" >
        SERIAL_ALIAS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialName != null" >
        #{serialName,jdbcType=VARCHAR},
      </if>
      <if test="serialValue != null" >
        #{serialValue,jdbcType=DECIMAL},
      </if>
      <if test="serialDesc != null" >
        #{serialDesc,jdbcType=VARCHAR},
      </if>
      <if test="serialPoolSize != null" >
        #{serialPoolSize,jdbcType=DECIMAL},
      </if>
      <if test="serialFormat != null" >
        #{serialFormat,jdbcType=VARCHAR},
      </if>
      <if test="serialType != null" >
        #{serialType,jdbcType=VARCHAR},
      </if>
      <if test="serialAlias != null" >
        #{serialAlias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.SerialNo" >
    update b2c_serial_no
    <set >
      <if test="serialValue != null" >
        SERIAL_VALUE = #{serialValue,jdbcType=DECIMAL},
      </if>
      <if test="serialDesc != null" >
        SERIAL_DESC = #{serialDesc,jdbcType=VARCHAR},
      </if>
      <if test="serialPoolSize != null" >
        SERIAL_POOL_SIZE = #{serialPoolSize,jdbcType=DECIMAL},
      </if>
      <if test="serialFormat != null" >
        SERIAL_FORMAT = #{serialFormat,jdbcType=VARCHAR},
      </if>
      <if test="serialType != null" >
        SERIAL_TYPE = #{serialType,jdbcType=VARCHAR},
      </if>
      <if test="serialAlias != null" >
        SERIAL_ALIAS = #{serialAlias,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIAL_NAME = #{serialName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.SerialNo" >
    update b2c_serial_no
    set SERIAL_VALUE = #{serialValue,jdbcType=DECIMAL},
      SERIAL_DESC = #{serialDesc,jdbcType=VARCHAR},
      SERIAL_POOL_SIZE = #{serialPoolSize,jdbcType=DECIMAL},
      SERIAL_FORMAT = #{serialFormat,jdbcType=VARCHAR},
      SERIAL_TYPE = #{serialType,jdbcType=VARCHAR},
      SERIAL_ALIAS = #{serialAlias,jdbcType=VARCHAR}
    where SERIAL_NAME = #{serialName,jdbcType=VARCHAR}
  </update>

  <update id="updateKeyDataValue" parameterType="com.example.utils.keygen.SerialInfo">
       UPDATE B2C_SERIAL_NO SET SERIAL_VALUE = (#{poolSize}+serial_value) where serial_name=#{keyName}
  </update>

  <select id="queryForObject" parameterType="com.example.utils.keygen.SerialInfo" resultType="java.lang.Long">
        SELECT SERIAL_VALUE FROM B2C_SERIAL_NO WHERE SERIAL_NAME=#{keyName}
  </select>
</mapper>