<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UiaExternalUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.UiaExternalUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uia_id" property="uiaId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="login_id" property="loginId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="mallid" property="mallid" jdbcType="VARCHAR" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="to_uia_phone" property="toUiaPhone" jdbcType="VARCHAR" />
    <result column="to_uia_pwd" property="toUiaPwd" jdbcType="VARCHAR" />
    <result column="to_uia_email" property="toUiaEmail" jdbcType="VARCHAR" />
    <result column="to_uia_loginid" property="toUiaLoginid" jdbcType="VARCHAR" />
    <result column="handler_id" property="handlerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uia_id, user_id, login_id, mobile, email, password, user_type, mallid, createdtime, 
    updatetime, status, to_uia_phone, to_uia_pwd, to_uia_email, to_uia_loginid, handler_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_uia_external_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_uia_external_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.UiaExternalUser" >
    insert into b2c_uia_external_user (id, uia_id, user_id, 
      login_id, mobile, email, 
      password, user_type, mallid, 
      createdtime, updatetime, status, 
      to_uia_phone, to_uia_pwd, to_uia_email, 
      to_uia_loginid, handler_id)
    values (#{id,jdbcType=VARCHAR}, #{uiaId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{loginId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{mallid,jdbcType=VARCHAR}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, 
      #{toUiaPhone,jdbcType=VARCHAR}, #{toUiaPwd,jdbcType=VARCHAR}, #{toUiaEmail,jdbcType=VARCHAR}, 
      #{toUiaLoginid,jdbcType=VARCHAR}, #{handlerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.UiaExternalUser" >
    insert into b2c_uia_external_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uiaId != null" >
        uia_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="mallid != null" >
        mallid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="toUiaPhone != null" >
        to_uia_phone,
      </if>
      <if test="toUiaPwd != null" >
        to_uia_pwd,
      </if>
      <if test="toUiaEmail != null" >
        to_uia_email,
      </if>
      <if test="toUiaLoginid != null" >
        to_uia_loginid,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uiaId != null" >
        #{uiaId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="mallid != null" >
        #{mallid,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="toUiaPhone != null" >
        #{toUiaPhone,jdbcType=VARCHAR},
      </if>
      <if test="toUiaPwd != null" >
        #{toUiaPwd,jdbcType=VARCHAR},
      </if>
      <if test="toUiaEmail != null" >
        #{toUiaEmail,jdbcType=VARCHAR},
      </if>
      <if test="toUiaLoginid != null" >
        #{toUiaLoginid,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.UiaExternalUser" >
    update b2c_uia_external_user
    <set >
      <if test="uiaId != null" >
        uia_id = #{uiaId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="mallid != null" >
        mallid = #{mallid,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="toUiaPhone != null" >
        to_uia_phone = #{toUiaPhone,jdbcType=VARCHAR},
      </if>
      <if test="toUiaPwd != null" >
        to_uia_pwd = #{toUiaPwd,jdbcType=VARCHAR},
      </if>
      <if test="toUiaEmail != null" >
        to_uia_email = #{toUiaEmail,jdbcType=VARCHAR},
      </if>
      <if test="toUiaLoginid != null" >
        to_uia_loginid = #{toUiaLoginid,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.UiaExternalUser" >
    update b2c_uia_external_user
    set uia_id = #{uiaId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      login_id = #{loginId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      mallid = #{mallid,jdbcType=VARCHAR},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      to_uia_phone = #{toUiaPhone,jdbcType=VARCHAR},
      to_uia_pwd = #{toUiaPwd,jdbcType=VARCHAR},
      to_uia_email = #{toUiaEmail,jdbcType=VARCHAR},
      to_uia_loginid = #{toUiaLoginid,jdbcType=VARCHAR},
      handler_id = #{handlerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>