<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserBindingMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.UserBinding" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="binding_mobile" property="bindingMobile" jdbcType="VARCHAR" />
    <result column="binding_email" property="bindingEmail" jdbcType="VARCHAR" />
    <result column="binding_question_id" property="bindingQuestionId" jdbcType="VARCHAR" />
    <result column="binding_question_answer" property="bindingQuestionAnswer" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, binding_mobile, binding_email, binding_question_id, binding_question_answer, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b2c_user_binding
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b2c_user_binding
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.UserBinding" >
    insert into b2c_user_binding (userid, binding_mobile, binding_email, 
      binding_question_id, binding_question_answer, 
      create_time, update_time)
    values (#{userid,jdbcType=VARCHAR}, #{bindingMobile,jdbcType=VARCHAR}, #{bindingEmail,jdbcType=VARCHAR}, 
      #{bindingQuestionId,jdbcType=VARCHAR}, #{bindingQuestionAnswer,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.UserBinding" >
    insert into b2c_user_binding
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="bindingMobile != null" >
        binding_mobile,
      </if>
      <if test="bindingEmail != null" >
        binding_email,
      </if>
      <if test="bindingQuestionId != null" >
        binding_question_id,
      </if>
      <if test="bindingQuestionAnswer != null" >
        binding_question_answer,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="bindingMobile != null" >
        #{bindingMobile,jdbcType=VARCHAR},
      </if>
      <if test="bindingEmail != null" >
        #{bindingEmail,jdbcType=VARCHAR},
      </if>
      <if test="bindingQuestionId != null" >
        #{bindingQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="bindingQuestionAnswer != null" >
        #{bindingQuestionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.UserBinding" >
    update b2c_user_binding
    <set >
      <if test="bindingMobile != null" >
        binding_mobile = #{bindingMobile,jdbcType=VARCHAR},
      </if>
      <if test="bindingEmail != null" >
        binding_email = #{bindingEmail,jdbcType=VARCHAR},
      </if>
      <if test="bindingQuestionId != null" >
        binding_question_id = #{bindingQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="bindingQuestionAnswer != null" >
        binding_question_answer = #{bindingQuestionAnswer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.UserBinding" >
    update b2c_user_binding
    set binding_mobile = #{bindingMobile,jdbcType=VARCHAR},
      binding_email = #{bindingEmail,jdbcType=VARCHAR},
      binding_question_id = #{bindingQuestionId,jdbcType=VARCHAR},
      binding_question_answer = #{bindingQuestionAnswer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>